.columnContainer {
  background: "#f3f3f3";
  padding: 10px;
  border-radius: 8px;
}

.columnTitleContainer {
  background-color: rgba(255, 0, 0, 0.281);
  border-radius: 20px;
  text-align: center;
}

.columnTitleContainer .columnTitle {
  padding: 4px;
  font-size: 16px;
}
