@import "../../styles/colors.css";
.button {
    background-color: var(--color-primary);
    width: 12rem;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    color: #FFF;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: var(--color-hover);
}

.button:active {
    background-color: var(--color-active);
}