.tasksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
    padding: 2rem;
}

/* .tasksContainer > *:only-child {
    flex: 1 1 100%;
} */

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}