.card {
  padding: 0 12px 12px 12px;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 16px;
  min-height: 120px;
  width: 220px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: grab;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h1 {
    font-size: 16px;
    font-weight: 500;
}

.taskInfoArea {
    font-size: 12px;
}

.taskInfoArea p {
    margin: 4px 0;
    max-width: 75%;
}

.taskInfoArea .taskDeadline {
    display: flex;
    align-items: center;
    gap: 8px;
}

.taskInfoArea .taskSubject {
    display: flex;
    align-items: center;
    gap: 8px;
}
