@import "../../styles/colors.css";
.header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .header {
        margin-top: 1rem;
        padding-left: 3.5rem; /* Espaço para o botão sanduíche */
    }
}



.header p {
    color: var(--color-text-default);
    margin: 0;
    font-size: 0.95rem;
}

.header h3 {
    margin: 0;
    font-size: 1.25rem;
}

.header h2 {
    margin: 0;
    font-size: 1.75rem;
    color: var(--color-text-header);
}

.headerLeft {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.userIcon {
    background-color: var(--color-primary);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-text);
}