@import "../../styles/colors.css";
.sidebar {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64px;
  justify-content: space-between;
  padding: 1rem 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.top h1 {
  font-size: 1rem;
  color: var(--color-primary-text);
  text-align: center;
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navigation a {
  color: var(--color-primary-text);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.navigation a:hover {
  background-color: var(--color-hover);
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom button {
  background: none;
  border: none;
  color: var(--color-primary-text);
  font-size: 1.5rem;
  cursor: pointer;
}

.bottom a {
  color: var(--color-primary-text);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.bottom a:hover {
  background-color: var(--color-hover);
}