.calendarPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 3rem; 
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.calendarContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.calendarContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}